body{
    background:linear-gradient(#220077,#5b0866) ;
    color: #ffaabb;
}

.header{
    width: 1320px;
    background:#240046;
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
    color: wheat;
}

.portfolio{
    font-size: 24px;
    padding-left:30%;
}

.span{
    background: linear-gradient(to right ,#240046,#240ff6,#240046);
    padding-left: 40px;
}

.header1{
    padding-bottom: 20px;
}

a{
    padding-left: 20px;
    color:#c1ff0b;
    text-decoration: none;
}

a:hover{
    color: #814181;
    text-decoration: none;
}

.span>a{
    font-size: 30px;
    padding: 5% 5% ;
}

.heading{
    border: 2px solid ;
    background-color: #240046;
    width: 1200px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;
    margin: 40px;
}

.heading1,.heading2,.heading3,.heading4,.heading5{
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    text-shadow: black;
    text-decoration: underline;
    margin-top: 60px;
}

.intro{
    width: 1300px;
    height: 400px;
    background-image: url("../images/IMG_20190914_221213_879.jpg");
    background-repeat: no-repeat;
    background-size: 400px 400px;
    margin: 10%;
}

.intro>.brief_description{
    width: 40%;
    padding-left: 500px;
    padding-top: 5%;
    font-size:1.5em;
}



.brief_description{
    font-size: 25px;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: #388E3C;
}

.skills>span{
    margin: 0 3%;
    padding:0 80px ;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    color: #009688;
}

.skill_img{
    height: 100px;
    width: 150px;
    padding-right: 10px;
}

.hobbies>span{
    padding-left:5% ;
    padding-right:20% ;
    font-size: 25px;
    text-transform: capitalize;
    color: #388E3C;
}
.project>span{
    margin: 0 3%;
    padding-right: 70px;
    font-size: 25px;
    text-transform: capitalize;
    text-align:center;
    color: #388E3C;;
}

.project_img1{
    height: 200px;
    width:250px;
    padding-right: 10px;
}
